<!DOCTYPE html>
<html lang="en" ng-app="populationApp" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Population</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">

</head>
<body ng-controller="populationController">

    <div class="container">

        <h1>
            Population
            <button ng-click="DrawChart()" ng-disabled="!error.isValid" class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-flash"></span>  Моделировать</button>
        </h1>
        <h3>Population model simulation</h3>
        <hr>
        <br>

        <div class="col-lg-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-th"> </span>  Таблица результатов</div>
                <div class="panel-body">
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th>Время</th>
                                <th>Популяция</th>
                                <th>Прирост</th>
                                <th>Ресурсы (ед)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0.00</td>
                                <td>{{Math.round(population_params.start_population)}}</td>
                                <td>0</td>
                                <td>{{population_params.start_resources.toFixed(2)}}</td>
                            </tr>
                            <tr ng-model="results" ng-repeat="res in results">
                                <td>{{res.time.toFixed(2)}}</td>
                                <td>{{Math.round(res.population)}}</td>
                                <td>{{Math.round(res.delta)}}</td>
                                <td>{{res.resources.toFixed(2)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading"><span class="glyphicon glyphicon-cog"> </span>  Переменные моделирования</div>
                <div class="panel-body">

                    <form>
                        <fieldset>
                            <div ng-show="!error.isValid" class="alert alert-danger">
                                <strong>Ошибка ввода параметра "{{error.title}}" !</strong>
                                <p>Параметр должен быть в пределах от {{error.min}} до {{error.max}}</p>
                                <p>Введённое значение << {{error.curval}} >></p>
                            </div>
                            <div class="form-group">
                                <label>{{population_params.start_population_title}}</label>
                                <input ng-keyup="validateParams()" ng-model="population_params.start_population"
                                       required type="number" value="{{population_params.start_population}}" class="form-control" placeholder="">
                            </div>

                            <div class="form-group">
                                <label>{{population_params.start_resources_title}}</label>
                                <input ng-keyup="validateParams()" name="s_res" ng-model="population_params.start_resources"
                                       required type="number" ng-required="required" value="{{population_params.start_resources}}" class="form-control" placeholder="">
                            </div>

                            <div class="form-group">
                                <label>{{population_params.coeff_born_title}}</label>
                                <input ng-keyup="validateParams()" ng-model="population_params.coeff_born"
                                       required type="number" ng-required="required" value="{{population_params.coeff_born}}" class="form-control" placeholder="">
                            </div>

                            <div class="form-group">
                                <label>{{population_params.coeff_resources_decrement_title}}</label>
                                <input ng-keyup="validateParams()" ng-model="population_params.coeff_resources_decrement"
                                       required type="number" ng-required="required" value="{{population_params.coeff_resources_decrement}}" class="form-control" placeholder="">
                            </div>

                            <div class="form-group">
                                <label>{{population_params.step_time_title}}</label>
                                <input ng-keyup="validateParams()" ng-model="population_params.step_time"
                                       required type="number" ng-required="required" value="{{population_params.step_time}}" class="form-control" placeholder="">
                            </div>

                        </fieldset>
                    </form>

                </div>
            </div>
        </div>

        <div class="col-lg-12  col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><span class="glyphicon glyphicon-signal"> </span>  График протекания процесса</div>
                <div class="panel-body">
                    <canvas id="pendulum_chart"  width="1100" height="400"></canvas>
                </div>
            </div>
        </div>

    </div>


<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/Chart.js"></script>

<script src="js/population_controller.js"></script>

</body>
</html>